.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-icon {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .logo {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    text-decoration: none;
  }
  
  .profile {
    margin-right: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
  
  .dropdown.show {
    width: 7rem;
  }

  nav a {
    margin-left: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    /* text-decoration: underline; */
    text-decoration: none;
  }
  
  /* Sidebar styles */
  /* .sidebar {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: var(--secondary-color);
    color: #fff;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1100;
  } */
  
  .sidebar.show {
    transform: translateX(300px);
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .sidebar h2 {
    margin-bottom: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 1rem;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* .sidebar ul li a:hover {
    text-decoration: underline;
  } */
  
  /* Overlay styles */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .overlay.show {
    display: block;
  }
  
  /* .profile {
    margin-right: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  } */
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown.show {
    display: block;
  }
  
  .dropdown a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .dropdown a:hover {
    background: var(--primary-color);
  }
  
  
  